/* ==========================================================================
   Minima: Nav
   ========================================================================== */

.Nav {
  margin-bottom: @space-vertical;
  padding: 0;
}

.Nav-item {
  list-style: none;

  > a {
    display: block;
  }
}

/* Inline */
.Nav--inline {
  .Nav-item {
    display: inline-block;
    margin-right: @space-horizontal-sm;
    
    /* IE7 display inline-block fix */
    *display: inline;
    zoom: 1;

    &:last-child {
      margin-right: 0;
    }
  }
}

.Nav--tabs,
.Nav--pills {
  .Nav-item {
    display: inline-block;

    > a {
      padding: @space-vertical-xs @space-horizontal-sm;
    }
  }
}

/* Tabs */
.Nav--tabs {
  border-bottom: 1px solid @color-neutral-light;

  .Nav-item {
    > a {
      border-color: transparent;
      border-style: solid;
      border-width: 1px 1px 0 1px;
      margin-bottom: -1px;
    }

    &.is-active {
      > a,
      > a:hover {
        background-color: #fff;
        border-color: @color-neutral-light;
        border-bottom-color: transparent;
      }
    }
  }
}

/* Pills */
.Nav--pills {
  .Nav-item {
    &.is-active {
      > a,
      > a:hover {
        color: #ffffff;
        background-color: @color-primary;
      }
    }
  }
}
