/* ==========================================================================
   Minima: OffCanvas
   ========================================================================== */

[data-offcanvas-fixed] {
  transition: @offcanvas-transition-speed all;
}

.OffCanvas {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: @offcanvas-offset-top;

  &.is-open {
    .OffCanvas-overlay {
      display: block;
    }
  }
}

.OffCanvas-page {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: @offcanvas-transition-speed all;
}

.OffCanvas-panel {
  overflow-x: hidden;
  overflow-y: auto;
  position: fixed;
  transition: @offcanvas-transition-speed all;
  z-index: 20;
}

.OffCanvas-overlay {
  background: rgba(0,0,0,.3);
  bottom: 0;
  cursor: pointer;
  display: none;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 10;
}
